[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.94.1"
uvicorn = "==0.21.0"
tortoise-orm = "==0.19.3"
aiomysql = "==0.1.1"
aerich = "==0.7.1"
pymysql = "==1.0.2"
aiosqlite = "==0.17.0"
anyio = "==3.6.2"
async-timeout = "==4.0.2"
click = "==8.1.3"
dictdiffer = "==0.9.0"
h11 = "==0.14.0"
idna = "==3.4"
iso8601 = "==1.1.0"
pydantic = "==1.10.6"
pypika-tortoise = "==0.1.6"
pytz = "==2022.7.1"
redis = "==4.5.4"
sniffio = "==1.3.0"
starlette = "==0.26.1"
tomlkit = "==0.11.6"
typing-extensions = "==4.5.0"
ua-parser = "==0.16.1"
user-agents = "==2.2.0"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
